
// Adds border-radius
=border-radius($radius)
  -webkit-border-radius: $radius
  -moz-border-radius:    $radius
  -ms-border-radius:     $radius
  border-radius:         $radius

.is-text-overflow
  flex: 1
  white-space: nowrap
  overflow: hidden
  text-overflow: ellipsis
