//
// This file is imported before all .vue components
//

// Start with the theme's variables
@import "~bulmaswatch/darkly/_variables"

// Customising bulma variables
$primary: #02BBA4
$link: #38597E
$transition-duration: 0.3s

// Import bulma utilities
@import "~bulma/sass/utilities/_all"

// Import our mixins
@import "~sass/mixins.sass"
