//
// This file is imported before all .vue components
//

// Start with the theme's variables
@import "~bulmaswatch/darkly/_variables"

// Customising bulma variables
$primary: #ED4E56
$link: #ED4E56
$link-hover: #B5383E
$body-size: 16px
$size-6: $body-size
$navbar-height: 2.75rem

// Import bulma utilities
@import "~bulma/sass/utilities/_all"

$transition-duration: 0.3s
$transition: $transition-duration $easing

// Import our mixins
@import "~sass/mixins.sass"
