//
// This file is imported before all .vue components
//

// Start with the theme's variables
@import "~bulmaswatch/darkly/_variables"

// Customising bulma variables
$primary: #02BBA4
$link: #38597E

// Import bulma utilities
@import "~bulma/sass/utilities/_all"

$transition-duration: 0.3s
$transition: $transition-duration $easing

// Import our mixins
@import "~sass/mixins.sass"
