
.fade-enter-active, .fade-leave-active
  transition: opacity $transition-duration
.fade-enter, .fade-leave-to
  opacity: 0

.fade-short-enter-active, .fade-short-leave-active
  transition: opacity ($transition-duration * 0.66)
.fade-short-enter, .fade-short-leave-to
  opacity: 0
